/* @override http://localhost/motores/sites/all/themes/motores/motores.css?o */
/* $Id: zen.css,v 1.14.2.6 2009/11/05 11:03:32 johnalbin Exp $ */

/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal6-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal6-reference.css file
 *   Forum            See line 197 of Zen's drupal6-reference.css file
 *   Menus            See line 667 of Zen's drupal6-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal6-reference.css file
 *   Polls            See line 287 of Zen's drupal6-reference.css file
 *   Search           See line 320 of Zen's drupal6-reference.css file
 *   User Profiles    See line 945 of Zen's drupal6-reference.css file
 */


/** body **/
  body
  {
    margin: 0;
    padding: 10px;
  }

  #page
  {
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
  }

  #logo /* Wrapper for logo */
  {
    margin: 0 10px 0 0;
    padding: 0;
  }

  #logo-image /* The actual logo image */
  {
  }

  h1#site-name, div#site-name /* The name of the website */
  {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    text-decoration: underline;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

/** main (container for everything else) **/
  #main
  {
	margin-top: 20px;
  }

  #main-inner
  {
  }

/** content **/
  #content
  {
	font-size: 12px;
  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
    padding-bottom: 0; /* Undo system.css */
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
	margin: 0;
	margin-bottom: 12px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
  }

  div.status /* Normal priority messages */
  {
  }

  div.warning, tr.warning /* Medium priority messages */
  {
    /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
  }

  div.error, tr.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
	color: #757979;
  }

  ul.links /* List of links */
  {
    margin: 1em 0;
    padding: 0;
  }

  ul.links.inline
  {
    margin: 0;
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 10px;
	background: #D2D2D2 url(img/primarybg.gif) repeat-x 0 bottom;
}

  #navbar-inner
  {
	
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #primary /* Primary links */
  {
  }

  #secondary /* Secondary links */
  {
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
	border-top:3px solid #CBCBCB;
	color:#757979;
	font-size:12px;
	margin-top:24px;
	text-align:center;
  }

/** Drupal nodes **/
  .node /* Node wrapper */
  {
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .meta /* Wrapper for submitted and terms data */
  {
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .terms /* Node terms (taxonomy) */
  {
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node ul.links /* Node links. See also the ul.links declaration above. */
  {
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for the list of comments and its title */
  {
    margin: 1em 0;
  }

  #comments-title /* Heading for the list of comments */
  {
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
  }

  .comment-preview /* Preview of the comment before submitting new or updated comment */
  {
  }

  .comment.new /* A new comment since the user last viewed the page. */
  {
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment.first /* The first comment in the list of comments */
  {
  }

  .comment.last /* The last comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-published /* Published comments */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment .user-signature /* The user's signature */
  {
  }

  .comment ul.links /* Comment links. See also the ul.links declaration above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comment-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-primary-links /* "Primary links" block */
  {
  }

  #block-menu-secondary-links /* "Secondary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even /* Some tables have rows marked even or odd. */
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  #main .form-submit,
  .page-crear-anuncio .quiero a,
  .page-user-login #login-before a
  {
	border:medium none;
	color:#FFFFFF;
	font-size: 12px;
	font-weight:bold;
	padding:4px 12px;
	-moz-border-radius: 8px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #FF4C00;
}

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link /* The "Log in using OpenID" links. */
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
  }

  #user-login-form li.user-link /* The "Cancel OpenID login" links. */
  {
    margin-top: 1em;
  }

  #user-login ul
  {
    margin: 1em 0;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * forms on the site.
   */
  form tbody
  {
    border-top: 1px solid #ccc;
  }

  form th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  form tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  form thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }
/* @group Primary links */
#block-motores_menus-0
{
	border-top: 1px solid #BABABA;
	margin: 0;
	position: relative;
}
#motores-menus
{
	margin-left: 140px;
}
#autos-camionetas
{
	left: 141px;
}
#otros
{
	right: 81px;
}
#lanchas
{
	right: 272px;
}
#extremo
{
	right: 350px;
}
#motos
{
	left: 279px;
}
#block-motores_menus-0 .panel
{
	display: none;
	position: absolute;
	background: #D2D2D2 url(img/primarybg.gif) repeat-x 0 bottom;
	z-index: 1;
	border: 1px solid #807F7F;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#block-motores_menus-0 .panel a
{
	float: none;
	width: 110px;
	font-size: 12px;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #A6A6A6;
}
#block-motores_menus-0 .panel a.first
{
	border-left: none;
}
#block-motores_menus-0 .panel a.last
{
	border-bottom: none;
}
#block-motores_menus-0 .panel a:hover,
#block-motores_menus-0 a.active
{
	background: url(img/home_btn_roll.gif) repeat-x 0 bottom;
	color: #FFFFFF;
	background-color: #9A9A9A;
	text-shadow: 1px 1px 0px #333333;
}
.panel .col
{
	float: left;
}
#block-motores_menus-0 a,
#header-blocks a
{
	text-decoration: none;
	font-size: 14px;
	padding: 12px;
	display: block;
	color: #181818;
	border-left: 1px solid #D8D6D6;
	border-right: 1px solid #BABABA;
	text-shadow: 1px 1px 0px #DDDDDD;
}
#block-motores_menus-0 a
{
	float: left;
}
#block-motores_menus-0 ul
{
	border-left: 1px solid #BABABA;
	margin-left: 12px;
}
#block-motores_menus-0 li.last
{
	border-right: 1px solid #D8D6D6;
}
/* @end */
#navbar-blocks
{
	position: relative;
}
#header-blocks ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
#header-blocks li
{
	list-style-type: none;
	float: left;
	list-style-image: none;
}
#header-blocks .block
{
	margin: 0;
}
#header-blocks
{
	background: url(img/primarybg.gif) repeat-x 0 bottom;
	background-color: #D2D2D2;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#header-blocks .first a
{
	border-left: none;
}
#header-blocks .last a
{
	border-right: none;
}
.not-front #sidebar-right .block h2.title,
#sidebar-left .block h2.title,
.block-motores_custom h2.title
{
	background-color: #0093FF;
	color: #FFFFFF;
	padding: 6px 12px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.front #sidebar-right .block h2.title
{
	color: #FF0000;
	padding: 6px 12px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 2px solid #CBCBCB;
	border-bottom: none;
}
#sidebar-right .block .content,
.section-micuenta #content-inner .block .content
{
	border: 2px solid #CBCBCB;
	border-top: none;
	padding: 12px;
	-moz-border-radius: 8px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-radius: 8px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-radius: 8px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
#sidebar-right .form-item
{
	margin-top: 0;
}
.greybox
{
	border: 2px solid #CBCBCB;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 12px;
}
.anuncio h1
{
	margin: 0;
	font-size: 20px;
	line-height: 21px;
	color: #000000;
}
#main-desc .precio-fecha
{
	float: right;
	width: 200px;
	font-size: 12px;
	line-height: 17px;
}
#main-desc .ubicacion
{
	color: #757979;
	font-size: 12px;
}
#main-desc .desc-inner
{
	padding: 12px;
}
.precio-fecha .field-field-precio
{
	color: #FF0000;
	font-weight: bold;
}
#main-desc .precio-fecha .fecha
{
	color: #757979;
}
.precio-fecha .field-field-precio .field-label
{
	color: #0093FF;
}
#main-desc .precio-fecha .field-label
{
	float: left;
	margin-right: 5px;
}
#main-desc .additional-details
{
	border-top: 1px solid #CBCBCB;
	clear: both;
	padding: 12px;
}
#main-desc .additional-details .field-label
{
	float: left;
	width: 100px;
	color: #0093FF;
}
#main-desc .additional-details .field-items
{
	color: #757979;
	font-size: 12px;
}
#vehiculo-detalles .field
{
	width: 210px;
	float: left;
}
#vehiculo-detalles .field .field-items
{
	color: #757979;
	font-size: 12px;
}
#vehiculo-detalles .field .field-label
{
	color: #0093FF;
}
#vehiculo-detalles .detalles-row
{
	margin-top: 12px;
}
.anuncio h2
{
	margin: 0;
	color: #000000;
	font-weight: normal;
	padding: 12px;
	font-size: 18px;
	line-height: 19px;
	border-bottom: 1px solid #CBCBCB;
}
#vehiculo-detalles .detalles-inner
{
	padding: 12px;
	padding-top: 0;
}
#vehiculo-detalles .field .field-item
{
	background: url(img/bullet.gif) no-repeat 0 2px;
	padding-left: 17px;
}

.breadcrumb
{
	margin: 12px 0;
	font-size: 12px;
}
.breadcrumb a
{
	font-weight: bold;
}
.block-motores_custom .form-text,
.block-motores_custom .form-textarea
{
	width: 240px;
}

#scrollable-big
{
	padding: 12px;
	border-top: 1px solid #CBCBCB;
}
#scrollable-big .field
{
	position: relative;
	overflow: hidden;
	width: 630px;
	height: 470px;
}
#scrollable-small .field
{
	height:94px;
	margin:0 47px;
	overflow:hidden;
	padding:6px;
	position:relative;
}
#scrollable-small img
{
	-moz-box-shadow:0px 0px 6px #666666;
	-webkit-box-shadow:0px 0px 6px #666666;
	box-shadow:0px 0px 6px #666666;
	border:1px solid #FFFFFF;
	cursor: pointer;
}
#scrollable-small
{
	position: relative;
	margin-bottom: 12px;
}
#scrollable-small .field-item
{
	margin-right: 12px;
}
#scrollable-small .prevPage
{
	background: url(img/left.png) no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	left:21px;
	position:absolute;
	top:45px;
	cursor: pointer;
}
#scrollable-small a:hover
{
	background-position: 0 -18px;
}
#scrollable-small .nextPage
{
	background: url(img/right.png) no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	right:21px;
	position:absolute;
	top:45px;
	cursor: pointer;
}
.scrollable .field .field-items
{
	position: absolute;
	width: 99999em;
}
.scrollable .field .field-item
{
	float: left;
}
#sidebar-right #block-views-vendedor-block_1 .content
{
	padding: 0;
	padding-bottom: 12px;
}
#block-views-vendedor-block_1 .views-field-value
{
	font-size:18px;
	padding:12px;
}
#block-views-vendedor-block_1 .views-field-nothing
{
	padding: 12px;
	padding-bottom: 0;
	border-top: 1px solid #CBCBCB;
	color: #0093FF;
	font-weight: bold;
}
#block-views-vendedor-block_1 .views-field-value-1,
#block-views-vendedor-block_1 .views-field-mail
{
	padding: 0 12px;
	font-size: 12px;
	color: #757979;
}
.anuncio .content .descripcion
{
	padding: 12px;
	padding-bottom: 0;
	color: #757979;
	font-size: 12px;
}

.page-crear-anuncio h2
{
	color: #757979;
}
.page-crear-anuncio h3
{
	color: #0093FF;
}
.page-crear-anuncio #content .politics
{
	font-size: 11px;
}
.page-crear-anuncio .star
{
	color: #0093FF;
	margin-right: 5px;
}
.page-crear-anuncio table
{
	color: #000000;
	font-weight: bold;
	width: 100%;
	margin: 0;
}
.page-crear-anuncio .table
{
	border: 2px solid #CFCFCF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 650px;
}
.page-crear-anuncio th
{
	font-size: 14px;	
	color: #0093FF;
}
.page-crear-anuncio th.tipo
{
	color: #FF4C00;
}
.page-crear-anuncio tr
{
	height: 35px;
}
.page-crear-anuncio table td,
.page-crear-anuncio table th
{
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid #CFCFCF;
	border-right: 2px solid #CFCFCF;
}
.page-crear-anuncio tr.lastrow td
{
	border-bottom: none;
}
.page-crear-anuncio .lastcol
{
	border-right: none;
}
.page-crear-anuncio .checked
{
	background: url(img/check.gif) no-repeat;
	display: block;
	width: 14px;
	height: 11px;
	margin: 0 auto;
	text-indent: -99em;
	overflow: hidden;
}

.front #content .view
{
	border: 2px solid #CFCFCF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 15px;
}
.front #content h2
{
	color: #FF4C00;
	margin-top: 0;
}
.view-home .views-row
{
	float: left;
	width: 313px;
	margin-bottom: 15px;
}
.view-home .views-field-field-anio-value
{
	font-weight: bold;
	margin-bottom: 5px;
}
.view-home .views-field-created
{
	clear: both;
	font-size: 10px;
	background: url(img/reloj.gif) no-repeat scroll 0 3px transparent;
	padding-left: 18px;
}
.view-home .views-field-field-precio-value
{
	font-weight: bold;
	color: #FF0000;
}
.view-home .views-field-field-imagenes-fid
{
	float: left;
	margin-top: 5px;
	margin-right: 15px;
}

/* @group Multistep */

.multistep form .tips,
.multistep form .body-field-wrapper p,
.multistep form .body-field-wrapper .teaser-button-wrapper
{
	display: none;
}
.multistep form .body-field-wrapper p
{
	
}
.multistep fieldset legend
{
	display: none;
}
.multistep fieldset
{
	border: 2px solid #CFCFCF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.multistep .form-item
{
	margin-left: 20px;
	margin-right: 20px;
	color: #000000;
}
.anuncio600
{
	width: 600px;
	margin: 0 auto;
	margin-top: 60px;
}
.multistep .messages
{
	display: none;
}
.multistep #eula
{
	height: 200px;
	font-size: 12px;
	color: #666666;
	margin-bottom: 10px;
}
.multistep #edit-field-anio-value
{
	width: 50%;
}
.multistep #edit-body
{
	height: 200px;
}
.multistep .nn.form-item
{
	border-bottom: 1px solid #CFCFCF;
}
.multistep .nn.form-item .preview-field
{
	font-weight: bold;
	width: 50%;
	float: left;
	margin-bottom: 5px;
}
.multistep .nn.form-item .preview-field span
{
	font-weight: normal;
	color: #999;
}
.multistep .teaser-checkbox
{
	display: none;
}
#multistep-group_detalles label
{
	float: left;
	width: 200px;
	height: 30px;
}
#multistep-group_equipo .form-item
{

}
.nn p
{
	margin: 0;
	font-weight: bold;
	padding-top: 4px;
}
#edit-field-marca-value-wrapper select
{
	margin-right: 20px;
	width: 250px;
}
.multistep #edit-next
{
	display: block;
	margin-left: auto;
}
.multistep-tabs ul
{
	padding: 0;
	background: url(img/multi_line.gif) no-repeat 35px 24px;
}
.multistep-tabs li.active
{
	background-image: url(img/multi_active.gif);
}
.multistep-tabs li
{
	float: left;
	width: 100px;
	padding: 0 10px;
	padding-top: 60px;
	list-style-image: none;
	list-style-type: none;
	background: url(img/multi_inactive.gif) no-repeat center top;
	text-align: center;
	font-size: 12px;
	line-height: 13px;
	color: #B2B2B2;
}

/* @end */

.anuncio .content .descripcion p
{
	margin: 0;
	margin-bottom: 12px;
}
#seguridad .seguridad-inner
{
	padding: 12px;
	padding-bottom: 0;
}
#seguridad .desc
{
	float: left;
	width: 590px;
	font-size: 12px;
	color: #757979;
}
#seguridad .seguridad-row
{
	margin-bottom: 12px;
}
.num
{
	float: left;
	background: url(img/bluecirc.gif) no-repeat;
	color:#FFFFFF;
	font-size:18px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	text-align:center;
	width:27px;
	margin-right: 12px;
}
#last-bread .legend
{
	font-weight: bold;
	color: #757979;
	font-size: 12px;
	border-bottom: 1px solid #CBCBCB;
	padding-bottom: 6px;
}
#last-bread .back
{
	float: right;
	font-size: 10px;
	font-weight: bold;
	margin-top: 6px;
}
#last-bread .back a
{
	text-decoration: none;
	background: url(img/arrowtop.gif) no-repeat 0 2px;
	padding-left: 12px;
}

.view-micuenta
{
	clear: both;
}
.view-micuenta .views-table tbody tr
{
	background-color: #FFFFFF;
	border: none;
	font-size: 12px;
	color: #757979;
}
.view-micuenta .views-field img
{
	display: block;
}
.view-micuenta .views-field
{
	border: 2px solid #CBCBCB;
	border-top: none;
	border-left: none;
	padding: 6px;
}
.view-micuenta .views-field-nothing-2
{
	border-right: none;
}
.view-micuenta .views-table
{
	width: 100%;
	margin-top: 0;
	margin-bottom: 6px;
}
.view-micuenta .view-content
{
	background-color: #E8E8E8;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #CDCFCF;
}
.view-micuenta thead
{
	height: 48px;
	color: #0093FF;
}

.block-motores_custom
{
	font-size: 13px;
}
#block-motores_custom-1
{
	width: 300px;
	margin-right: 20px;
	float: left;
}
#block-motores_custom-2
{
	float: left;
	width: 640px;
}
#block-motores_custom-2 a
{
	float: left;
	display: block;
	width: 119px;
	height: 22px;
	padding-top: 90px;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	margin-right: 3px;
}
#block-motores_custom-2 .camionetas a
{
	background: url(img/camionetas.gif) no-repeat;
}
#block-motores_custom-2 .carro a
{
	background: url(img/carro.gif) no-repeat;
}
#block-motores_custom-2 .moto a
{
	background: url(img/moto.gif) no-repeat;
}
#block-motores_custom-2 .otro-tipo a
{
	background: url(img/otro.gif) no-repeat;
}
#block-motores_custom-2 .accesorios a
{
	background: url(img/accesorios.gif) no-repeat;
}
.block-motores_custom .item-mis-mensajes
{
	margin-bottom: 20px;
}
.block-motores_custom .item-centro-seguridad a
{
	color: #FF4C00;
}
/* @group Inbox */
.view-inbox
{
	clear: both;
}
.view-inbox table
{
	width: 100%;
}
/* @end */
/* @group User login */
.page-user-login #login-before,
.page-user-login #user-login
{
	float: left;
	width: 436px;
	border: 2px solid #CFCFCF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 12px;
}
.page-user-login #login-before
{
	width: 448px;
	margin-right: 20px;
	position: relative;
}
.page-user-login .tabs
{
	display: none;
}
.page-user-login h1
{
	margin-bottom: 12px;
}
#login-before a
{
	position: absolute;
	bottom: 12px;
	right: 12px;
}
.page-user-login h2
{
	margin: 0;
	font-size: 12px;
	color: #0093FF;
}
.page-user-login #user-login label
{
	float: left;
	width: 130px;
	color: #000000;
	margin-left: 10px;
}
.page-user-login #user-login #edit-remember-me-wrapper
{
	margin-left: 140px;
}
.page-user-login #user-login #edit-remember-me-wrapper label
{
	float: none;
	margin: 0;
	color: #757979;
}
.page-user-login #user-login .forgot
{
	margin-left: 140px;
	margin-bottom: 20px;
}
.page-user-login #user-login .forgot a
{
	text-decoration: none;
	color: #0093FF;
	font-weight: bold;
	font-size: 11px;
}
.page-user-login #user-login #edit-submit
{
	display: block;
	margin-left: auto;
}
.page-user-login #user-login .form-text
{
	width: 230px;
}
.page-user-login #user-login #edit-name-wrapper
{
	margin-top: 20px;
}
.page-user-login #user-login .description
{
	display: none;
}

#block-motores_register-0
{
	position: absolute;
	margin: 0;
	right: 0;
	top: -25px;
}
/* @end */
/* @group Proceso de anuncio */
.view-anuncio-tipo,
.view-anuncio-vehiculo
{
	background-color: #0093FF;
	width: 640px;
	padding: 12px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.view-anuncio-tipo h2,
.view-anuncio-vehiculo h2
{
	margin-top: 0;
	color: #FFFFFF;
}
.view-anuncio-tipo a
{
	display: block;
	padding-top: 115px;
	height: 20px;
	width: 170px;
	text-align: center;
	font-weight: bold;
	float: left;
}
.view-anuncio-vehiculo a
{
	display: block;
	padding-top: 115px;
	height: 20px;
	width: 205px;
	text-align: center;
	font-weight: bold;
	float: left;
}
.view-anuncio-vehiculo .views-field-nothing a
{
	background: url(img/anuncios/carro_2.gif) no-repeat center;
}
.view-anuncio-vehiculo .views-field-nothing-1 a
{
	background: url(img/anuncios/moto.gif) no-repeat center;
}
.view-anuncio-vehiculo .views-field-nothing-2 a
{
	background: url(img/anuncios/extremo.gif) no-repeat center;
}
.view-anuncio-vehiculo .views-field-nothing-3 a
{
	background: url(img/anuncios/lancha.gif) no-repeat center;
}
.view-anuncio-vehiculo .views-field-nothing-4 a
{
	background: url(img/anuncios/troca.gif) no-repeat center;
}
.view-anuncio-vehiculo .views-field-nothing-5 a
{
	background: url(img/anuncios/tractor.gif) no-repeat center;
}
.view-anuncio-tipo .views-field-nothing a
{
	background: url(img/anuncios/carro.gif) no-repeat center;
	margin-left: 60px;
}
.view-anuncio-tipo .views-field-nothing-1 a
{
	background: url(img/anuncios/llanta.gif) no-repeat center;
}
.view-anuncio-tipo .views-field-nothing-2 a
{
	background: url(img/anuncios/cosa.gif) no-repeat center;
}
.view-anuncio-tipo .views-field-nothing-3 a
{
	background: url(img/anuncios/tuerca.gif) no-repeat center;
	margin-left: 147px;
}
.view-anuncio-tipo .views-field-nothing-4 a
{
	background: url(img/anuncios/papel.gif) no-repeat center;
}
.view-anuncio-tipo .view-content,
.view-anuncio-vehiculo .view-content
{
	background-color: #FFFFFF;
	-moz-border-radius: 8px;
	height: 300px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
/* @end */
/* @group User register */
.page-user-register fieldset,
#user-profile-form fieldset
{
	border: none;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}
.page-user-register #user-register,
#user-profile-form
{
	border: 2px solid #CFCFCF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.page-user-register #user-register fieldset div,
#user-profile-form fieldset div
{
	width: 600px;
	margin: 10px auto;
	height: 30px;
}
.page-user-register #user-register fieldset #usa
{
	margin: 0;
	margin-left: 150px;
	font-size: 11px;
	height: 13px;
	color: #FF0000;
}
.page-user-register #user-register #edit-pass-pass1-wrapper
{
	margin-bottom: 0;
}
.page-user-register .tabs,
.section-user .tabs
{
	display: none;
}
#register-msg
{
	margin: 10px 0;
}
#register-msg a
{
	color: #0093FF;
	font-weight: bold;
	text-decoration: none;
}
.page-user-register #user-register .description,
#user-profile-form .description
{
	display: none;
}
.page-user-register #user-register #btns
{
	text-align: right;
	margin: 12px;
	margin-top: 0;
}
.page-user-register #main .bar,
#user-profile-form .bar
{
	margin: 0;
	height: 10px;
	width: 100%;
	border-top: 1px solid #CFCFCF;
}
.page-user-register #main #edit-profile-sexo-Hombre-wrapper,
.page-user-register #main #edit-profile-sexo-Mujer-wrapper,
#user-profile-form #edit-profile-sexo-Hombre-wrapper,
#user-profile-form #edit-profile-sexo-Mujer-wrapper
{
	float: left;
	width: auto;
	margin: 0;
}
#edit-profile-tel1-num,
#edit-profile-tel2-num
{
	width: 150px;
}
#edit-profile-cp
{
	width: 150px;
}
.page-user-register #main #edit-profile-tel1-tipo-wrapper,
.page-user-register #main #edit-profile-tel1-codigo-wrapper,
.page-user-register #main #edit-profile-tel1-num-wrapper,
.page-user-register #main #edit-profile-tel2-tipo-wrapper,
.page-user-register #main #edit-profile-tel2-codigo-wrapper,
.page-user-register #main #edit-profile-tel2-num-wrapper,
#user-profile-form #edit-profile-tel1-tipo-wrapper,
#user-profile-form #edit-profile-tel1-codigo-wrapper,
#user-profile-form #edit-profile-tel1-num-wrapper,
#user-profile-form #edit-profile-tel2-tipo-wrapper,
#user-profile-form #edit-profile-tel2-codigo-wrapper,
#user-profile-form #edit-profile-tel2-num-wrapper
{
	float: left;
	width: auto;
}
#user-profile-form #edit-submit
{
	display: block;
	margin-left: auto;
	margin-right: 12px;
	margin-bottom: 12px;
}
.page-user-register #user-register label,
#user-profile-form label
{
	float: left;
	width: 150px;
	color: #000000;
}
#edit-profile-tel1-codigo-wrapper,
#edit-profile-tel2-codigo-wrapper
{
	background: url(img/paren.gif) no-repeat;
	padding: 0 14px;
}
#edit-profile-tel1-codigo,
#edit-profile-tel2-codigo
{
	width: 70px;	
}
.page-user-register #user-register h2,
#user-profile-form h2
{
	background-color: #0093FF;
	color: #FFFFFF;
	padding: 10px 12px;
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}
/* @end */
/* @group Home top search */
#motores-search-top-form .form-item
{
	margin: 0;
	margin-right: 12px;
	float: left;
}
#motores-search-top-form .form-submit
{
	border:medium none;
	color:#FFFFFF;
	font-weight:bold;
	padding: 2px 6px;
	-moz-border-radius: 8px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: #5e5e5e;
}
#motores-search-top-form
{
	padding: 12px;
}
#block-motores_search-2
{
	margin: 0;
}
/* @end */
/* @group Home search */

#block-motores_search-1
{
	background-color: #0093FF;
	color: #FFFFFF;
	padding: 6px 12px 12px 12px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#content #block-motores_search-1 .title
{
	color: #FFFFFF;
}
#search-container
{
	background-color: #FFFFFF;
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #000000;
}
#search-tabs a.active
{
	background-color: #FFFFFF;
}
#search-tabs a
{
	display: block;
	float: left;
	background-color: #CBCBCB;
	text-decoration: none;
	width: 100px;
	text-align: center;
	line-height: 30px;
	margin-right: 7px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
#search-tabs
{
	margin-top: 10px;
	padding-left: 20px;
}

/* @end */
/* @group Vistas home */
.view-productos .views-row 
{
	float: left;
	width: 156px;
}
.view-productos .views-row img
{
	display: block;
	margin: 0 auto;
}
.view-productos .views-field-title
{
	font-weight: bold;
	margin-top: 10px;
}
.view-productos .views-field-field-precio-value
{
	color: #FF0000;
	font-weight: bold;
}
.view-Talleres .view-header p
{
	font-weight: bold;
	color: #999999;
	margin-top: 0;
}
.view-Talleres .views-row
{
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}
/* @end */
/* @group Refine search */
#block-motores_search-0 .content
{
	background-color: #0093FF;
	padding: 10px;
	padding-top: 0;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
#block-motores_search-0 .form-item
{
	margin: 0;
	margin-bottom: 10px;
}
#block-motores_search-0 .form-text,
#block-motores_search-0 .form-select
{
	width: 220px;
}
#block-motores_search-0 #edit-keywords-1-wrapper
{
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 10px;
}
#block-motores_search-0 h3
{
	font-weight: normal;
	margin: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 10px;
}
#block-motores_search-0 label
{
	color: #0093FF;
	margin-bottom: 10px;
}
#block-motores_search-0 .content form
{
	background-color: #FFFFFF;
	padding: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
#motores-search-refine-form #edit-precio-min,
#motores-search-refine-form #edit-precio-max,
#motores-search-refine-form #edit-year-min,
#motores-search-refine-form #edit-year-max,
#motores-search-refine-form #edit-km-min,
#motores-search-refine-form #edit-km-max
{
	float: left;
	width: 100px;
	margin-right: 20px;
}
#motores-search-refine-form #edit-year-min,
#motores-search-refine-form #edit-year-max
{
	margin-top: 10px;
}
#motores-search-refine-form #edit-submit
{
	clear: both;
	margin-top: 10px;
	margin-left: 165px;
}
#motores-search-refine-form #edit-km-min-wrapper
{
	clear: both;
	padding-top: 10px;
}
.view-busqueda .imagecache-search_result
{
	float: left;
	margin-right: 15px;
}
.view-busqueda h2
{
	font-size: 12px;
}
.view-busqueda .view-filters
{
	display: none;
}
.view-busqueda .field-field-precio
{
	float: right;
	color: #FF0000;
	font-weight: bold;
}
.view-busqueda .node
{
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/* @end */
